<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Job Application Email</title>
  <style>
    body {
      font-family: Arial, sans-serif;

    }
  </style>
</head>
<body>

<div class="container">
  <p>Hi <strong>[[${name}]]</strong>,</p>

  <p>I hope you're doing well.</p>
  
	<p>I would like to apply for the Java Developer position at <strong>[[${companyName}]]</strong>. With 3+ years of experience in Java, Spring, RestAPI, and database management (SQL/NoSQL), I am confident that my skills align well with the role requirements.</p>
 
  <p>I would be grateful if you could review my profile. I am particularly interested in opportunities that match my skill set and experience. Please find my resume attached for your review.</p>

  <p>Looking forward to hearing from you.</p>

  <p>Thank you for your time and consideration.</p>

  <p>Best regards,</p>

  <p><strong>Mohd Adil</strong><br>
  Software Engineer at Coforge Limited<br>
Email: adil88.mohd@gmail.com<br>
Mobile: +91-9506737172
</p>

</div>

</body>
</html>
